*{
    margin:0;
    padding:0;
    font-size:14px;
}
body{
    background:#333;
    color:#ccc;
}
a{
    color:lightblue;
}

header{
    background:#135;
    padding:10px;
}

.contents{
    padding:20px;
}

footer{
    padding:20px;
    border-top:solid 1px #999;
}